small, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button:active, button:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.border {
  width: 100%;
  height: auto;
  stroke: var(--color-secondary);
  fill: var(--color-secondary-tint);
}

.border-button {
  color: var(--color-text-dark);
  cursor: pointer;
}

.border-item {
  position: relative;
  width: 100%;
}

.border-item__text {
  font-size: 1.2rem;
  margin: 0 12%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button {
  padding: 20px 120px;
  border: none;
  border-radius: 12px;
  color: var(--color-text-light);
  background-color: var(--color-primary);
  font-size: 1.2rem;
  box-sizing: border-box;
  cursor: pointer;
}

.button a {
  color: var(--color-text-light);
  text-decoration: none;
}

.button:hover {
  background-color: var(--color-primary-tint);
  transition: background-color 0.15s;
}

.button:active {
  background-color: var(--color-primary-shade);
  transition: background-color 0.15s;
}

.wrapper {
  padding: 80px;
  padding-bottom: 120px;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }

  .main {
    display: block;
  }

  .wrapper {
    padding: 0;
  }
}

@media screen and (min-width: 2000px) {
  html {
      font-size: 20px;
  }
}

@media screen and (min-width: 2400px) {
  html {
      font-size: 26px;
  }
}

@media screen and (min-width: 2800px) {
  html {
      font-size: 32px;
  }
}

@media screen and (min-width: 3200px) {
  html {
      font-size: 38px;
  }
}

@media screen and (min-width: 3600px) {
  html {
      font-size: 44px;
  }
}
